body {
    font-family: 'Times New Roman';
    font-weight: 400;
}

.library-box {
    border: 1px solid black;
    margin: auto;
    max-width: 500px;
    padding: 5px 10px
}

.library-box-not-top {
    margin-top: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.input {
    cursor: pointer;
}

.center {
    margin: auto;
}