body {
    font-family: 'Times New Roman';
    font-weight: 400;
}

.library-box {
    border: 1px solid black;
    margin: 0 auto;     /* always 20px on left & right */
    max-width: 400px;
    box-shadow: 10px 10px;
    width: min(100% - 40px, 400px);    /* full width minus 20px each side, or 500px max */

}

.library-box-not-top {
    margin-top: 30px;
}

.input {
    cursor: pointer;
}

.center {
    margin: auto;
}

.boxFullIndicator {
    margin: 11px 10px;
}

.marquee-header {
    margin: 10px 0px;
    margin-bottom: 7px;

}

.library-form {
    margin: 0px 10px;
}

.receive-button {
    margin: 0px 10px;
}

input {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.about-footer {
    text-align: center;
    max-width: min(100% - 40px, 400px);
    margin: 40px auto;

}
